header {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: solid 1px rgb(240, 240, 240);
  box-shadow: 0 1px 3px 0px rgba(200, 200, 200, 0.3);
}

.left-header-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 33.3%;
  margin-left: 14px;
  gap: 10px;
}

.left-header-side > img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.search-input {
  height: 38px;
  width: 200px;
  border: none;
  border-radius: 20px;
  background-image: url(../images/icons/search.svg);
  background-position: 12px 13px;
  background-repeat: no-repeat;
  background-color: rgb(240, 242, 245);
  padding-left: 36px;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  color: gray;
  font-family: "Helvetika", sans-serif;
  font-size: 14px;
}

.middle-header > div,
.right-header-container,
.right-header-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 33.3%;
}

.middle-header > div {
  width: 112px;
  height: 48px;
  position: relative;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.middle-header > div:hover {
  background-color: rgb(236, 236, 236);
}

.middle-header > div:first-child {
  box-sizing: border-box;
  height: 56px;
  border-bottom: solid 3px #2196F3;
  border-radius: 0;
}

.middle-header > div:first-child:hover {
  background-color: initial;
}

.middle-header div > img {
  width: 24px;
  height: 24px;
}

.tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -38px;
  color: white;
  background-color: rgb(27, 27, 27);
  border-radius: 8px;
  font-size: 12px;
  padding: 8px 12px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.middle-header > div:hover .tooltip {
  opacity: 0.8;
}

.right-header-side {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin-right: 14px;
  gap: 4px;
  width: 33.3%;
}

.right-header-container {
  width: 46px;
  height: 100%;
}

.right-header-container div {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  background-color: rgb(216, 218, 223);
  cursor: pointer;
  transition: background-color 0.2s;
}

.right-header-container div:hover {
  background-color: rgb(200, 202, 207);
}

.right-header-container div:active {
  background-color: rgb(190, 192, 197);
  width: 38px;
  height: 38px;
}

.right-header-container div:active img {
  width: 18px;
  height: 18px;
}

.right-header-container div:active .user-photo {
  width: 38px;
  height: 38px;
}

.right-header-container div > img {
  width: 20px;
  height: 20px;
}

.right-header-container div > .user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.notice-container {
  position: relative;
}

.right-header-container .notice-counter {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 16px;
  height: 16px;
  background-color: red;
  color: white;
  pointer-events: none;
}

.right-header-container  .right-tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 34px;
  bottom: -42px;
  color: white;
  background-color: rgb(37, 37, 37);
  border-radius: 8px;
  font-size: 12px;
  padding: 6px 10px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
  width: auto;
}
  
  .right-header-container:hover .right-tooltip {
    opacity: 0.8;
  }
